@mixin flex() {
  display: flex;
  flex-direction: center;
  justify-content: center;
  align-items: center;
}

$primary-color: #DB202C;
$secondary-color: #e9dede;
$tertiary-color: #000000;

* {
  box-sizing: border-box;

}

html {
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
  background: $tertiary-color;
  color: $secondary-color;
  scroll-behavior: smooth;
}

.wrapper {
  min-height: 100vh;
  box-shadow: inset 0 0 25px rgba(148, 3, 3, 0.479);
}


body {
  margin: 0;
}


header {
  @include flex();
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

a {
  text-decoration: none;
  color: $primary-color;
}

/*Hamburger*/
$toggleSize: 30px;
$toggleMargin: 20px;
$toggleLine: 4px;
$toggleColor: #e9dede;

.nav-container {
  position: relative;
  display: inline-block;
  max-width: $toggleSize + $toggleMargin;
  max-height: $toggleSize + $toggleMargin;
  overflow: visible;
  outline: none;
  
  //&:focus-within, &:focus {
  &.is-active {
    .nav-toggle {
      &:before, &:after {
        box-shadow: none;
      }
      
      &:before {
        transform: rotate(-45deg);
      }
      
      &:after {
        transform: rotate(45deg);
      }
    }
    
    .nav-items {
      transform: translate(0, 0);
    }
  }
  
  .nav-toggle {
    $offset: $toggleSize * 0.5;
    
    position: relative;
    width: $toggleSize;
    height: $toggleSize;
    margin: $toggleMargin;
    z-index: 2;
    
    &:hover {
      cursor: pointer;
    }
      
    &:before, &:after {
      content: "";
      position: absolute;
      top: #{$offset - $toggleLine / 2};
      left: 0;
      transform: translate(0, 0);
      width: 100%;
      height: $toggleLine;
      background: $toggleColor;
      transition: transform .3s ease, box-shadow .3s ease;
    }
    
    &:before {
      box-shadow: 0 #{$offset / 1.5} 0 0 $toggleColor;
    }
    
    &:after {
      box-shadow: 0 #{-$offset / 1.5} 0 0 $toggleColor;
    }
  }
  
  .nav-items {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 300px;
    max-width: 15vw;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    padding: 80px 20px 20px 10px;
    transition: transform .3s ease;
    background: #03030383;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 5px 0;
    align-content: start;
    box-shadow: 0 0 50px rgba(219, 216, 216, 0.116);
    display: none;
    
    .nav-item {
      background: darken(#615f5f, 5%);
      padding: 10px;
      transition: background-color .3s ease;
      text-decoration: none;
      font-family: 'Poppins', sans-serif;
      font-size: 15px;
      color: $secondary-color;
      
      &:hover {
        cursor: pointer;
        background: darken(#EFEFEF, 10%);
        color: $tertiary-color;
      }
    }
  }
}

.nav-items.show {
  display: flex;
  flex-direction: column;
}


/*end of hamburger*/

.logo {
  display: flex;
  flex-direction: column;
  margin: 15px;
}

#flix {
  height: auto;
  width: auto;
}

h1 {
  margin: 0;
  color: $primary-color;
  font-size: 50px;
}

h3 {
  display: inline; 
  color: $secondary-color;
  font-size: 25px;
  margin: 20px;
}

h4 {
  display: inline;
  margin: 0;
  color: $secondary-color;
  font-size: 20px;
  margin: 0;
  margin-right: 10px;
}

.search {
  background-color: transparent;
  border-radius: 10%;
  border: 2px solid $secondary-color;
  padding:0.5rem 10px;
  font-size: 1rem;
  align-items: flex-end;
  margin-left: 10px;
  margin-right: 25px;
}

#search:focus {
  outline: none;
  background-color: $secondary-color
}

.home {
  text-decoration: none;
  color: $primary-color;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
}

.movieContainer {
  display: flex;
  flex-direction: flex-wrap;
}

.titleImg {
  display: flex;
  width: 300px;
  height: 450px;
  margin: 10px;
  
  }

.backdropImg {

  justify-content: center;
  align-items: center;
  position: absolute;
  display: none;
}

img {
  width: 300px;
  height: 450px;
  margin-bottom: 30px;
  }

.overview {
  display: flex;
  color: $secondary-color;
  font-size: 20px;
  margin: 20px;
}
  
.rating {
  display: flex;
  color: $secondary-color;
  font-size: 20px;
  margin: 20px;
}

.cast-list {
  font-size: 20px;
  margin:20px;
}

.cast-word {
  margin: 20px;
  font-size: 20px;
  color: #e2d1d1;
}

.cast-member {
  display: inline-block;
  margin: 5px 20px 20px 0;
  font-size: 20px; 
}

.hidden {
  display: none;
}

.more-link {
  color: $primary-color;
}

.more-link:hover {
  cursor: pointer;
}

.release_date {
  display: flex;
  color: $secondary-color;
  font-size: 20px;
  margin: 20px;
}

.genres {
  align-self: start;
  color: $secondary-color;
  font-size: 20px;
  margin: 20px;
}

.genres p {
  display: inline-block;
  margin: 0;
}

.runtime {
  color: $secondary-color;
  font-size: 20px;
  margin: 20px;
}

.tagline {
  display: flex;
  color: $secondary-color;
  font-size: 20px;
  margin: 20px;
}

.trailer-button {
  display: flex;
  background-color: $primary-color;
  border: 0;
  color: $secondary-color;
  font-size: 20px;
  padding: 10px;
  margin: 20px;
  border-radius: 10%;
}

.trailer-button:hover {
  outline: none;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .movieContainer {
    @include flex();
      flex-direction: column;
  }

  header {
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: space-between;
  }

  img {
    width: 300px;
    height: 450px;
  }

  #flix {
    height: auto;
    width: auto;
  }

//hamburger menu

  $toggleSize: 30px;
$toggleMargin: 20px;
$toggleLine: 4px;
$toggleColor: #e9dede;

.nav-container {
  position: relative;
  display: inline-block;
  max-width: $toggleSize + $toggleMargin;
  max-height: $toggleSize + $toggleMargin;
  overflow: visible;
  outline: none;
  
  .nav-items.show {
    display: block;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
  }

  .nav-item {
    display: block;
    padding: 10px;
    background: $primary-color;
    color: $secondary-color;
    margin-bottom: 5px;
  }

  .nav-items {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 300px;
    max-width: 15vw;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    padding: 80px 20px 20px 10px;
    transition: transform .3s ease;
    transform: translate(calc(-100% - 50px), 0);
    background: #03030383;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 5px 0;
    align-content: start;
    box-shadow: 0 0 50px rgba(219, 216, 216, 0.116);
    display: none;
  }
 }

//hamburger end 
}

footer {
  bottom: 0;
  width: 100%;
  left: 0;
  right: 0;
  text-align: center;

  p {
    margin: 0;
    padding: 0;
  }
}
