@mixin flex() {
  display: flex;
  flex-direction: center;
  justify-content: center;
  align-items: center;
}

$primary-color: #f30909;
$secondary-color: #e9dede;
$tertiary-color: #000000;

* {
  box-sizing: border-box;
}

html, body {
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

header {
  @include flex();
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

/*Hamburger*/
.hamburger {
  display: block;
  margin-left: 20px;
  margin-top: 25px;
  margin-bottom: 20px;
  margin-right: 20px;
  font-size: 30px;
  color: white;
  background-color: transparent;
  border: 0;
  align-self: flex-end;
  z-index: 1;
}

.hamburger:hover {
  outline: none;
  cursor: pointer;
}

ul {
  display: none;
  margin: 0px;
}

ul.show {
  display: flex;
  position: absolute;
  margin-left: 50px;
  flex-direction: column; 
}

nav {
  display: flex;
}

nav ul li {
  text-decoration: none;
  list-style: none;
  margin: 5px;
  color: white;
  background-color: $secondary-color;
  font-family: 'Poppins', sans-serif;
}
/*end of hamburger*/

.title {
 // @include flex();
  flex-direction: column;
  margin: 15px;
}

h1 {
  margin: 0;
  color: $primary-color;
  font-size: 50px;
}

.search {
  background-color: transparent;
  border-radius: 10%;
  border: 2px solid $secondary-color;
  padding:0.5rem 10px;
  font-size: 1rem;
  align-items: flex-end;
  margin-left: 10px;
  margin-right: 25px;
}

#search:focus {
    outline: none;
    background-color: $secondary-color
    
}

body {
    background: $tertiary-color;
  }

  main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
.movies {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
    
}
  
.movies li {
  width: 300px;
  height: 450px;
  @include flex();
}

.movies li img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.movie:hover .overview {
  transform: translateY(0);
}

footer {
  @include flex();
  flex-direction: column;
  margin: 15px;
  color: $secondary-color;
  
}