* {
  box-sizing: border-box;
}

html {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  background: #000000;
  color: #e9dede;
  scroll-behavior: smooth;
  box-shadow: inset 0 0 25px rgba(148, 3, 3, 0.479);
}

header {
  margin: 0 50px 0 50px;
}

nav {
  display: inline-block;
  top: 0;
  left: 0;
  z-index: 100;
}

/*Hamburger*/
.nav-container {
  position: relative;
  display: inline-block;
  max-width: 50px;
  max-height: 50px;
  overflow: visible;
  outline: none;
}
.nav-container.is-active .nav-toggle:before, .nav-container.is-active .nav-toggle:after {
  box-shadow: none;
}
.nav-container.is-active .nav-toggle:before {
  transform: rotate(-45deg);
}
.nav-container.is-active .nav-toggle:after {
  transform: rotate(45deg);
}
.nav-container.is-active .nav-items {
  transform: translate(0, 0);
}
.nav-container .nav-toggle {
  margin-right: auto;
  position: relative;
  width: 30px;
  height: 30px;
  margin: 20px;
  z-index: 2;
}
.nav-container .nav-toggle:hover {
  cursor: pointer;
}
.nav-container .nav-toggle:before, .nav-container .nav-toggle:after {
  content: "";
  position: absolute;
  top: 13px;
  left: 0;
  transform: translate(0, 0);
  width: 100%;
  height: 4px;
  background: #e9dede;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.nav-container .nav-toggle:before {
  box-shadow: 0 10px 0 0 #e9dede;
}
.nav-container .nav-toggle:after {
  box-shadow: 0 -10px 0 0 #e9dede;
}
.nav-container .nav-items {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 300px;
  max-width: 15vw;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  padding: 80px 20px 20px 10px;
  transition: transform 0.3s ease;
  background: rgba(3, 3, 3, 0.5137254902);
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 5px 0;
  align-content: start;
  box-shadow: 0 0 50px rgba(219, 216, 216, 0.116);
  display: none;
}
.nav-container .nav-items .nav-item {
  background: #545252;
  padding: 10px;
  transition: background-color 0.3s ease;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  color: #e9dede;
}
.nav-container .nav-items .nav-item:hover {
  cursor: pointer;
  background: #d6d6d6;
  color: #000000;
}

.nav-items.show {
  display: flex;
  flex-direction: column;
}

/*end of hamburger*/
h1 {
  margin: 0;
  color: #DB202C;
  font-size: 50px;
}

h3 {
  display: none;
  margin: 0;
  color: #e9dede;
  font-size: 20px;
}

#form {
  position: absolute;
  top: 0;
  right: 0;
  margin: 50px 100px;
}

.search {
  display: flex;
  background-color: transparent;
  border-radius: 10%;
  border: 2px solid #e9dede;
  padding: 0.5rem 10px;
  font-size: 1rem;
}

#search:focus {
  outline: none;
  background-color: #e9dede;
}

#flix {
  display: inline-block;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

/*
.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}
*/
.home {
  text-decoration: none;
  color: #DB202C;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
}

.movie img {
  width: 300px;
  height: 450px;
  -o-object-fit: cover;
     object-fit: cover;
}

.movie img:hover {
  outline: none;
  cursor: pointer;
}

.title {
  display: none;
  color: #e9dede;
  font-size: 30px;
  font-weight: bold;
}

.overview {
  color: #e9dede;
  font-size: 20px;
  display: none;
}

.rating {
  color: #e9dede;
  font-size: 20px;
  display: none;
}

.cast {
  color: #e9dede;
  font-size: 20px;
  display: none;
}

.release_date {
  color: #e9dede;
  font-size: 20px;
  display: none;
}

.genres {
  color: #e9dede;
  font-size: 20px;
  display: none;
}

@media only screen and (max-width: 768px) {
  .movieContainer {
    display: flex;
    flex-direction: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  header {
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
  }
  body {
    margin: 0 20px 20px 20px;
  }
  img {
    width: 300px;
    height: 450px;
  }
  #flix {
    height: auto;
    width: auto;
  }
  .nav-container {
    position: relative;
    display: inline-block;
    max-width: 50px;
    max-height: 50px;
    overflow: visible;
    outline: none;
  }
  .nav-container .nav-items.show {
    display: block;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
  }
  .nav-container .nav-item {
    display: block;
    padding: 10px;
    background: #DB202C;
    color: #e9dede;
    margin-bottom: 5px;
  }
  .nav-container .nav-items {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 300px;
    max-width: 15vw;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    padding: 80px 20px 20px 10px;
    transition: transform 0.3s ease;
    transform: translate(calc(-100% - 50px), 0);
    background: rgba(3, 3, 3, 0.5137254902);
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 5px 0;
    align-content: start;
    box-shadow: 0 0 50px rgba(219, 216, 216, 0.116);
    display: none;
  }
}
footer {
  display: flex;
  flex-direction: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 15px;
  color: #e9dede;
}

/* Back to top button */
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  border: none;
  outline: none;
  color: white;
  border-radius: 10px;
  font-size: 30px;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  cursor: pointer;
  display: inline-block;
  white-space: nowrap;
  border-color: #7c7c7c;
  background: linear-gradient(180deg, #e6e6e6 0%, rgba(0, 0, 0, 0.25) 49%, rgba(38, 38, 38, 0.6) 51%, rgba(0, 0, 0, 0.25) 100%);
  border-radius: 2px;
}

#myBtn:hover {
  font-size: 29px;
  background-color: #555;
}/*# sourceMappingURL=style.css.map */