@mixin flex() {
    display: flex;
    flex-direction: center;
    justify-content: center;
    align-items: center;
  }
  
  $primary-color: #f30909;
  $secondary-color: #e9dede;
  $tertiary-color: #000000;
  
  * {
    box-sizing: border-box;
  
  }
  
  html, body {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    background: $tertiary-color;
    color: $secondary-color;
    scroll-behavior: smooth;
  }
  
  body {
    margin: 0 50px 50px 50px;
  }
  
  header {
    @include flex();
    padding: 20px;
    display: flex;
    justify-content: space-between;
  }
  
  a {
    text-decoration: none;
    color: $primary-color;
  }
  
  /*Hamburger*/
  
  .hamburger {
    display: block;
    margin-left: 20px;
    margin-top: 25px;
    margin-bottom: 20px;
    margin-right: 20px;
    font-size: 30px;
    color: white;
    background-color: transparent;
    border: 0;
    align-self: flex-end;
    z-index: 1;
  }
  
  .hamburger:hover {
    outline: none;
    cursor: pointer;
  }
  
  ul {
    display: none;
    margin: 0px;
  }
  
  ul.show {
    display: flex;
    position: absolute;
    margin-left: 50px;
    flex-direction: column; 
  }
  
  nav {
    display: flex;
  }
  
  nav ul li {
    text-decoration: none;
    list-style: none;
    margin: 5px;
    color: white;
    background-color: $secondary-color;
    font-family: 'Poppins', sans-serif;
  }
  
  /*end of hamburger*/
  
  .logo {
    display: flex;
    flex-direction: column;
    margin: 15px;
  }
  
  h1 {
    margin: 0;
    color: $primary-color;
    font-size: 50px;
  }
  
  h3 {
    display: inline; 
    color: $secondary-color;
    font-size: 25px;
    margin: 20px;
  }
  
  h4 {
    display: inline;
    margin: 0;
    color: $secondary-color;
    font-size: 20px;
    margin: 0;
    margin-right: 10px;
  }
  
  .search {
    background-color: transparent;
    border-radius: 10%;
    border: 2px solid $secondary-color;
    padding:0.5rem 10px;
    font-size: 1rem;
    align-items: flex-end;
    margin-left: 10px;
    margin-right: 25px;
  }
  
  #search:focus {
    outline: none;
    background-color: $secondary-color
  }
  
  .home {
    text-decoration: none;
    color: $primary-color;
  }
  
  main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
  }
  
  .movieContainer {
    display: flex;
    flex-direction: flex-wrap;
  }
  
  .titleImg {
    display: flex;
    width: 300px;
    height: 450px;
    margin: 10px;
    
    }
  
  .backdropImg {
  
    justify-content: center;
    align-items: center;
    position: absolute;
    display: none;
  }
  
  img {
    width: 300px;
    height: 450px;
    margin-bottom: 30px;
    }
  
  .overview {
    display: flex;
    color: $secondary-color;
    font-size: 20px;
    margin: 20px;
  }
    
  .rating {
    display: flex;
    color: $secondary-color;
    font-size: 20px;
    margin: 20px;
  }
  
  .cast-list {
    font-size: 20px;
    margin:20px;
  }
  
  .cast-word {
    margin: 20px;
    font-size: 20px;
    color: #e2d1d1;
  }
  
  .cast-member {
    display: inline-block;
    margin: 5px 20px 20px 0;
    font-size: 20px; 
  }
  
  .hidden {
    display: none;
  }
  
  .more-link {
    color: $primary-color;
  }
  
  .more-link:hover {
    cursor: pointer;
  }
  
  .seasons {
    display: flex;
    color: $secondary-color;
    font-size: 20px;
    margin: 20px;
  }
  
  .genres {
    align-self: start;
    color: $secondary-color;
    font-size: 20px;
    margin: 20px;
  }
  
  .genres p {
    display: inline-block;
    margin: 0;
  }
  
  .runtime {
    color: $secondary-color;
    font-size: 20px;
    margin: 20px;
  }
  
  .first_air_date {
    display: flex;
    color: $secondary-color;
    font-size: 20px;
    margin: 20px;
  }
  
  @media only screen and (max-width: 1000px) {
    .movieContainer {
      @include flex();
        flex-direction: column;
    }
  
    header {
      display: flex;
      flex-direction: column;
      padding: 20px;
      justify-content: space-between;
    }
  
    body {
      margin: 0 20px 20px 20px;
    }
  
    img {
      width: 300px;
      height: 450px;
    }
  
    h3 {
      display: flex;
      margin: 0;
      color: $secondary-color;
      font-size: 25px;
      margin: 20px;
      
    }
    
  }
  
  .trailer-button {
    display: flex;
    background-color: $primary-color;
    border: 0;
    color: $secondary-color;
    font-size: 20px;
    padding: 10px;
    margin: 20px;
    border-radius: 10%;
  }
  
  #trailer-button:hover {
    outline: none;
    cursor: pointer;
  }
  
  footer {
    @include flex();
    flex-direction: column;
    margin: 15px;
    color: $secondary-color;
  }
  